* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.25rem;
  font-family: sans-serif;
}

.main {
  padding: 1.25rem;
}

p,
h1 {
  margin: 0.9375rem;
}

h1 {
  font-size: 1.875rem;
  border-top: 6px solid ghostwhite;
  padding-top: 1.25rem;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.625rem;
}

.credit-card-infos {
  border-top: 2px solid ghostwhite;
  border-bottom: 2px solid ghostwhite;
}

.table-wrapper th {
  text-align: left;
  padding: 0.5rem;
}

.table-wrapper td {
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}

table,
tr,
td {
  border: none;
  margin: 0.9375rem;
}

.table-body tr:nth-child(odd) {
  background-color: ghostwhite;
}

.table-body tr:nth-child(even) {
  background-color: #ffffff;
}
